/src/ParticipationMarker/ParticipationMarker.TelegramBot/bin/
/src/ParticipationMarker/ParticipationMarker.TelegramBot/obj/
/src/ParticipationMarker/ParticipationMarker.Domain/bin/
/src/ParticipationMarker/ParticipationMarker.Domain/obj/
/src/ParticipationMarker/ParticipationMarker.FunctionApp/bin/
/src/ParticipationMarker/ParticipationMarker.FunctionApp/obj/
/src/ParticipationMarker/Telegram.API/bin/
/src/ParticipationMarker/Telegram.API/obj/